
body{
    background-color: #1B9999;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: "www.fontsquirrel.com/fonts/norwester?fbclid=IwAR1xpdVLBeKnHPny8lzKfPFnMoKWJDd8t28rB6CwVrLGonQ7qn39JfKROio";
}
.container{
    display: flex;
    align-items: center;
    justify-content: right;
    min-height: 90vh;
    margin-right: 10%;
}
.box{
    background: #67D6CF;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box{
    width: 300px;
}

.form-box form .field{
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top:5%;
}
.form-box form .input input{
    height: 35px;
    width: 98%;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
}
.btn{
    height: 35px;
    width: 100px;
    background-color: teal;
    border-radius: 20px;
    color:#fff;
    border: 0;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 15px;
    align-items: center;
}
.button{
    display: flex;
    justify-content: center;
}
.btn:hover{
    opacity: 0.70;
}

.error{
    color:red;
}

.title{
    margin-left: 5%;
    color: white;
    align-items: center;
}

header{
    text-align: left;
    font-size: 30px;
    color: black;
    text-align:  center;
    
}

img{
    height: 20%;
    width: 20%;
}

.logo{
    align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
}

.loginlogo{
    width: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.img{
    height: 60%;
    width: 60%;
}

.dash{
    justify-content: center;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
}
.home{
    width: 60px;

}

table, th{
	width: 100%;
	table-layout: fixed;
    justify-content: center;
    align-items: center;
	text-align: center;
	font-size: 1vw;
	border-collapse: collapse;
	border: 1px solid black;
    text-decoration: none;
    
}


th{
	padding: 8px;
	background: #67D6CF;
	color: black;
	font-family: arial black; 
    
}

th:hover{
	background: white;
}   

.screen{
    background-color: #67D6CF;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 20px;
    overflow:auto;
    font-size: 50px;
}

.addattendance{
    display: flex;
    justify-content: right;
    padding-right: 3%;
    width: 95%;
    padding-bottom: 1%;
}

.addbtn{
    height: 35px;
    width: 150px;
    background-color: teal;
    border-radius: 20px;
    color:#fff;
    border: 0;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 15px;
    align-items: center;
}

.delete{
    width: 60px;
}

a{
    text-decoration: none;
}